@import url('../../.cache/wal/colors-waybar.css');
@define-color text #ffffff;
@define-color green rgba(10, 240, 40, 0.5);
@define-color red rgba(220, 20, 60, 0.5);

* {
  font-family: "Input Mono Condensed";
  font-size: 16px;
  color: @text ;
  border-radius: 4px;
  margin: 2px 0px;
}


window#waybar {
  background-color: alpha(@background, 0.0);
  color: @text;
  transition-property: background-color;
  transition-duration: .5s;
}

window#waybar.hidden {
  opacity: 0;
}

window#waybar.empty {
  background-color: transparent;
}


.modules-left,
.modules-right,
.modules-center {}

.modules-right,
.modules-left {
  background: transparent;
}

.modules-center {
  margin: 0px;
  padding: 0px;
  background: transparent;
}

#custom-notification {
  margin: 0px 5px 0px 10px;
  padding: 0px 5px 0px 9px;
  border-bottom: 1px solid alpha(@color7, 1);
  background: alpha(@color7, 0.5);
}

#clock {
  background: alpha(@color6, 0.4);
  padding: 0px 10px;
  margin: 0px 5px;
  border-bottom: 1px solid alpha(@color7, 1);
}

#battery {
  padding: 0px 10px;
  margin: 0px 10px 0px 5px;
  border-bottom: 1px solid alpha(@color7, 1);
  background-color: alpha(@color4, 0.4);
}

#battery.charging,
#battery.plugged {
  background-color: @green;
  border-bottom: 1px solid @green;
}

@keyframes blink {
  to {
    background-color: @red;
  }
}

#battery.critical:not(.charging) {
  background-color: @color3;
  animation-name: blink;
  animation-duration: 0.3s;
  animation-timing-function: steps(12);
  animation-iteration-count: infinite;
  animation-direction: alternate;
}


#workspaces button {
  border-radius: 8px;
  background: alpha(@color2, 0.2);
  padding: 0px 7px 0px 9px;
  margin: 0px 2px;
  opacity: 0.9;
}

#workspaces button.active {
  opacity: 1;
  background: alpha(@color2, 0.4);
}

#workspaces button.empty {
  background-color: alpha(@background, 0.1);
  opacity: 0.8;
}

#workspaces button.urgent {
  background-color: red;
}

#workspaces button:hover {
  background: alpha(@color7, 0.1);
}


#cpu,
#memory,
#temperature {
  padding: 0px 10px;
  border-radius: 0px;
  background: transparent;
}

#temperature.critical {
  box-shadow: 2px 0px 2px red;
}

#hardware {
  padding: 0px 10px;
  border-radius: 5px;
  margin: 0 5px;
  border-bottom: 1px dotted alpha(@color7, 1);
  background: alpha(@color2, 0.2);
}

#network {
  padding: 0px 10px;
  margin: 0px 5px;
  background: alpha(@color2, 0.3);
  border-bottom: 1px dashed alpha(@color7, 1);
}

#pulseaudio,
#backlight,
#idle_inhibitor {
  padding: 0px 10px;
  margin: 0px 5px;
  border-bottom: 1px dashed alpha(@color7, 1);
  background: alpha(@color5, 0.3);
}


#image.eyecare {
  background-color: alpha(@color5, 0.8);
  padding: 6px;
  border-radius: 15%;
  margin: 0 3px;
}


#pulseaudio.muted {
  border-bottom: 2px solid red;
  background: alpha(@color3, 0.2);
}

#clock:hover,
#custom-pacman:hover,
#custom-notification:hover,
#bluetooth:hover,
#network:hover,
#battery:hover,
#cpu:hover,
#memory:hover,
#temperature:hover {
  transition: all .3s ease;
  color: @color15;
}
